* {
  box-sizing: border-box;
  margin-left: 20px;
}

h1 {
  padding: 1rem;
}

.description {
  padding: 2rem;
}

.timer {
  padding: 40px 90px;

  border-radius: 8px;
  background-color: #f0c2b6;
  font-size: 3rem;
  margin-bottom: 70px;
  font-weight: 800;
}

.buttons {
  display: flex;
  gap: 20px;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.study-container,
.images-container {
  flex: 1;
}

.gif-container {
  display: block;
}

.study-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

h3 {
  padding: 2rem;
}

.break-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  background-color: rgb(203, 247, 247);
  padding: 60px 60px;
  border-radius: 8px;
}

.break-tips {
  padding: 30px;
  background-color: rgb(249, 249, 176);
  border-radius: 8px;
  width: fit-content;
  display: none;
}
